*{
  font-family: Vazir;
}
body{
  direction: rtl;
  position: relative;
}
html{
  scroll-behavior: smooth;
}
:root{
  --purple-text:rgb(95, 4, 65);
  --purple-icon:rgba(175, 18, 70, 0.8);
}
/*******************************************/
#navbar{
  transition: all .5s;
}
.icon{
  color: white;
  font-size: 25px;
}
/* @media screen and(max-width:992px){ */
  .nav-opened{
    background: linear-gradient(to right , rgb(161, 15, 197), rgb(255, 1, 180)) !important;
    box-shadow : 0px 3px 10px rgba(0, 0, 0, 0.300);
  }
/* } */
.navbar-scrolled-down{
  background : linear-gradient(to right , rgb(161, 15, 197), rgb(255, 1, 180));
  box-shadow : 0px 3px 10px rgba(0, 0, 0, 0.300);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.navbar-scrolled-up{
  background : transparent;
  box-shadow : 0px 3px 10px rgba(0, 0, 0, 0);
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.navbar-brand{
  padding-left: 1rem;
  border-radius: 50%;
  border-left: 6px solid rgb(235, 235, 235);
}
/* @media screen and (max-width:992px){
  .navbar .collapse{
    background: linear-gradient(to right bottom  , rgba(255, 0, 85, 0.8), rgba(77, 0, 36, 0.8));
  }
} */
/** landpage */
.landpage-container{
  height: 100vh;
  background:linear-gradient(to right bottom  , rgba(161, 15, 197, 0.8), rgb(255, 1, 120));
}
.landpage-container p{
  font-weight: 100 !important;
}
.nav-link.active{
  /* border-bottom: 2px solid rgb(228, 227, 227); */
  color: rgb(29, 28, 28) !important;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
}
.header-text{
  margin-top: 140px;
  font-weight: 400 !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
}
@media screen and (max-width:500px){
  .header-text{
    font-size: 30px;
  }
  .landpage-container p{
    font-size: 14px;
    width: 80%;
  }
}
@media screen and (min-height:900px) {
  .img-header-container{
    margin-top: 200px;
  }
  .header-text{
    margin-top: 240px;
  }
}
.img-header{
  max-width : 400px;
}
.card{
  height: 400px;
}
/* * feature cards */
.feture-header-text{
  color: var(--purple-text);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.158);
}
.bi-feature{
  font-size: 40px;
  /* color: var(--purple-icon) ; */
}
.bi-feature::before{
  color: var(--purple-icon) ;
  background: linear-gradient(to right bottom  , rgba(255, 0, 85, 0.8), rgba(77, 0, 36, 0.8));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-card{
  background: linear-gradient(to right bottom  , rgba(255, 0, 85, 0.8), rgba(77, 0, 36, 0.8));
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.192);
  transition: all .5s;
}
.feature-card:hover{
  cursor: default;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.288);
  transform: translateY(-5px);
}
.feature-card p{
  font-size: 14px;
}
.feature-card h5{
  margin-bottom: 1rem;
}
.bg-card{
  width: 98%;
}

/**Discover*/

.btn-style1{
  background : linear-gradient(to right , rgb(161, 15, 197), rgb(255, 1, 180));
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
.btn-style1:hover{
  background : linear-gradient(to right ,rgb(255, 1, 180), rgb(161, 15, 197));
}
.discover-img-self{
  width: 150% ;
}
@media (min-width: 992px) {
  .discover-img-self{
    width: 170% ;
  }
}
@media (max-width: 992px) {
  .discover-text{
    text-align: center !important;
  }
}

/** Familiar */
.nav .nav-item .nav-link{
  padding: 1rem;
}
.nav .nav-item .nav-link:hover,
.nav .nav-item .nav-link:focus{
  border: none !important;
}

.nav .nav-item .nav-link.active{
  border: none !important;
  border-bottom: white;
  border-top: 2px solid rgb(214, 19, 126) !important ;
}
.tab-content img {
  max-width:200px;
}
@media screen and (max-width : 992px){
  .tab-content img{
    margin: 1rem auto !important;
  }
}
@media screen and (max-width: 450px){
  .nav .nav-item .nav-link {
    font-size: 11px;
  }
}
/** Introduction */

.circle {
  font-size: 25px;
  width: 80px ;
  height: 80px ;
  transition: all .5s;
  background: #fff;
}
@media (max-width:400px) {
  .circle{
    display: none !important;
  }
}
.circle:hover{
  cursor: pointer;
  background : rgb(214, 19, 126);
  color: white;
}
@media screen and (min-width:992px) {
  .img-intro{
    width: 100% !important;
  }
}
/* *Comments */


.owl-carousel .owl-item img , .img-client{
  width: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
}
.content-comment{
  max-width: 700px;
}
.client-name{
  font-weight: 400 !important;
  color : rgb(158, 14, 93);
}
.owl-next.disabled,
.owl-prev.disabled{
  opacity: .5;
}
.owl-next,
.owl-prev{
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
}
.bi-arrow-right,
.bi-arrow-left{
  background-color: rgb(201, 200, 200);
  padding: .5rem  .7rem;
  border-radius: 10%;
  color: white;
}
.owl-next{
  left: 0;
}
.owl-prev{
  right: 0;
}

/* *Gallery */
.imgs-gallery .owl-item {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
  transform: scale(.5);
  transition: all .5s;
}
.imgs-gallery .owl-item.center{
  transform: scale(.8);
}
.imgs-gallery .owl-dots{
  text-align: center;
}
.imgs-gallery .owl-dots .owl-dot {
  background-color: rgba(214, 19, 126, 0.336) ;
  width: 40px;
  border-radius: 40px;
  height: 10px;
  margin: .5rem;
  margin-top: .5rem;
}
.imgs-gallery .owl-dots .owl-dot.active{
  background-color: rgb(214, 19, 126) ;
}
/** pannels */

.panle{
  border-top: 4px solid rgb(214, 19, 126) !important ;
}

/* * download ways */

.download-ways{
  background:linear-gradient(to right bottom  , rgba(161, 15, 197, 0.8), rgb(255, 1, 120));
  padding-top: 150px !important;
}
.download-ways p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.btns-download{
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

/* * footer */

.social-icon{
  color: rgba(122, 3, 77, 0.432);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.089);
  font-size: 20px;
}
.social-icon:hover{
  cursor: pointer;
  color: rgba(122, 3, 76, 0.685);
}
@media screen and (max-width:992px){
  .addres{
    text-align: center !important;
  }
}
.link-footer{
  font-size: 13px;
  color: rgba(122, 3, 76, 0.685);
}
@media screen and (max-width:400px){
  .text-copy-footer{
    font-size: 10px !important;
  }
  .link-footer{
    font-size: 11px;
  }
}